<div>
    <h1>Sign Up Page</h1>
    <p>Welcome to Ride Share Registration</p>

    <form name="user" action="/register" method="post">
        <input type="text" name="username" placeholder="user name" ng-model="new_user.username"/>
        <input type="email" name="email"  placeholder="email" ng-model="new_user.email"/>
        <input type="password" name="password" placeholder="password" ng-model="new_user.password"/>
        <!--<input ng-click="register()" type="submit" value="Submit"/>-->
    </form>
    <button ng-click="register()">Submit</button>
</div>