<div class="text-center">
    <h4>New User Registration</h4>
    <form class="navbar-form" name="user" action="/register" method="post">
        <div class="form-group">
            <div><input required class="form-control rideshare-style" type="text" name="username" placeholder="user name" ng-model="new_user.username"/></div>
            <div><input required class="form-control rideshare-style" type="email" name="email"  placeholder="email" ng-model="new_user.email"/></div>
            <div><input required class="form-control rideshare-style" type="password" name="password" placeholder="password" ng-model="new_user.password"/></div>
        </div>
    </form>
    <button ng-click="register()" class="btn btn-default navbar-btn">Register me..!!!</button>
</div>